############################
# IDE
############################
.idea/
*.iml
.vscode/

############################
# Eclipse
############################
.project
.classpath
.settings/

############################
# Build
############################
target/
build/
*.class
*.jar
*.war
*.ear

############################
# Maven
############################
.mvn/wrapper/maven-wrapper.jar

############################
# Logs
############################
*.log

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Environment
############################
.env
application-dev.properties
application-prod.properties